* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
}
/* COMMON */
/* DEBUG */
[class*="col-100"] {
    /* border: 1px solid black; */
}

.container-large {
    width: 70%;
    max-width: 2000px;
    
    margin: 0 auto;
    margin-top: 80px;
    /* debug */
    /* min-height: 400px;
    border: 1px solid black; */
}


.container-medium {
    width: 60%;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 40px;
    /* debug */
    /* min-height: 400px;
    border: 1px solid black; */
}

/* BUTTONS */
.btn {
    /* display: block; */
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
    /* width: 80px; */
    /* border-radius: 10px; */
    color: white;
    background-color: #0061FF;
}

.btn-white {
    padding: .5em 1em;
    text-align: center;
    text-decoration: none; 
    color: #61082B;
    background-color: white;
}

.btn:hover, .btn-white:hover {
    filter: brightness(1.2);
    
    /* border-bottom: 1px solid black; */
}
/* UTILITIES */

.dropdown {
    display: none;
    position: relative;
    padding: 5px;
    z-index: 1;
}

.special:hover .dropdown{
    display: block;
}

/* TEXT STYLE */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.bold {
    font-weight: 600;
}

.small-text {
    font-size: 0.8rem;
}

/* FLEX */
.flex {
    display: flex;
    flex-direction: row;
}

.flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

.grow-1 {
    flex-grow: 1;
}

.stretch {
    align-items: stretch;
}

.wrap {
    flex-wrap: wrap;
}

.gap {
    column-gap: 10px;
    justify-content: space-evenly;
}

/* ITEMS */
.item-title {
    width: 100%;
}

.item-radio {
    width: 25%;
}

/* POSITION */
.relative {
    position: relative;
}


/* PADDING & MARGIN */
.m-t-80 {
    margin-top: 80px;
}

.p-40 {
    padding: 40px;
}

.p-t-30 {
    padding-top: 30px;
}

.p-t-150 {
    padding-top: 60px;
 }
 
.p-tb-80 {
    padding: 80px 40px;
}

.m-b-40 {
    padding-bottom: 50px;
}

.border {
    border: 1px solid black;
}

.border-gray {
    border: 1px solid lightgray;
}



/* BG-COLORS */
.green {
    background-color: green;
}
/* LOGO-COLORS */
/* Designit */
.d-color {
    background-color: #D1E9CD;
}
.d-color1 {
    background-color: #A2D39B;
}
/* ASU */
.asu-color {
    background-color: #61082B;
}
/* UF */
.uf-color {
    background-color: #0093CE;
}
/* TOPPS */
.topps-color {
    background-color: #FF1C1C;
}
/* WBR */
.wbr-color {
    background-color: #D5001F;
}
/* LONELY */
.lon-color {
    background-color: #0D2481;
}
/* HEARTS */
.heart-color {
    background-color: #B4D0E7;
}
/* CLEAR CHANNEL */
.clear-color {
    background-color: #FFD830;
}


.orange {
    background-color: orange;
}
.pink {
    background-color: pink;
}

/* CARD */
.card {
    display: flex;
    flex-wrap: wrap;

}

.card-title {
    padding: 5px 0;
    text-align: center;
    border-bottom: 1px solid lightgray;
}

.title {
    font-size: 1.3rem;
    font-weight: 600;
}

.secondary-title {
    font-size: 0.9rem;
    color: gray;
}

.card-item {
    /* border: 1px solid gray; */
    padding: 10px;
}

.card-item span{
    line-height: 50px;
    /* debug */
    /* border: 1x solid black; */
}

.card-item ul {
    font-size: 0.9rem;
}

.card-item div {
    margin: 50px 0;
    /* debug */
    /* border: 1px solid black; */
}

.c-title {
    font-size: 1.2;
    font-weight: 600;
}

.checkmark {
    color: #0061FF;
    font-size: 1.2rem;
}


/* HEADER */

.nav-banner {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    /* padding: 10px; */
    
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,.2);
    /* debug */
    min-height: 15vh;
    /* min-height: 5vh;
    border: 1px solid black; */
}

.nav-items {
    
    /* margin: 20px 5px; */
    /* debug */
    /* width: calc(100% / 3); */
    /* min-height: 100%; */
    /* border: 1px solid black; */
}

.nav-banner a {
    text-decoration: none;
    color: gray;
    /* padding: 10vh 0; */
    /* border: 1px solid black; */
}

.nav-banner a.btn {
    text-decoration: none;
    color: white;
}

.flex a >img{
    border: 1px solid black;
    padding: 5px;
}

.flex li a{
    display: block;
    /* min-height   : 15vh; */
    padding: 10px;
    border: 1px solid black;
}

.flex li a:hover {
    color: #0061FF;
    /* border-bottom: 1px solid black; */
}

.nav-banner a.btn:hover {
    color:white;
}

.flex ul {
    justify-content: flex-end;
}


/* MAIN */
.hero {
    width: 100%;
    background-color: #B4D0E7;
    /* debug */
    /* min-height: 420px; */
}

.prova1 {
    position: relative;
    top: 80px;
    left: 0;
}

.hero-text p{
    margin: 20px 0;
}

.hero-image {
   position: relative;
}

.hero-image img{
    width: 100%;
    
 }

.col-100 {
    width: 100%;
    
    /* debug */
    /* height: 100px; */
    /* border: 1px solid black;
    background-color: #EE82EE   ; */
}

.col-100-b {
    width: 100%;
    height: 100%;
    /* debug */
    /* height: 300px; */
    /* border: 1px solid black; */
    /* background-color: orange  ; */
}

.col-50 {
    width: calc(100% / 2);
    /* margin-top: 80px; */
    padding: 10px;
    flex-shrink: 0;
    border: 1px solid gray;

    /* debug */
    /* min-height: 100px; */
    /* border: 1px solid black;
    background-color: lightgray; */
}

.col-30 {
    width: calc(100% / 3 - 10px * 3);
    margin-top: 80px;
    margin-bottom: 80px;
    /* border: 1px solid gray; */

    /* debug */
    /* min-height: 9000px; */
    /* border: 1px solid black;
    background-color: lightgray; */
}


.col-30-small {
    width: calc(100% / 3 - 10px * 3);
    margin-top: 40px;
    margin-bottom: 40px;
    /* debug */
    /* min-height: 300px; */
    /* border: 1px solid black;
    background-color: lightgray; */
}


.col-large {
    width: 60%;
    /* debug */
    /* min-height: 400px; */
    /* border: 1px solid black;
    background-color: blue; */
}

.col-small {
    width: 40%;
    /* debug */
    min-height: 400px;
    /* border: 1px solid black;
    background-color: lightgreen; */
}

/* LOGO SECTION */
.logo-section {
    width: 100%;
    /* debug */
    min-height: 380px;
    border: 1px solid black;
}

.col-square {
    width: calc(100% / 3);
    aspect-ratio: 1/1;
    height: calc(100% / 3);
    
    /* debug */
    /* height: 380px; */
    border: 1px solid black;
    background-color: aquamarine;
}

.text-square {
    /* debug */
    background-color: beige;
}

.logo {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(128deg) brightness(107%) contrast(101%);
    width: 50%;
}

.logo-title {
    width: 50%;
}

/* FREE TRIAL SECTION */
.free-title{
    color: #61082B;
    font-weight: 600;
}

.question {
    margin: 15px 0;
    padding: 15px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
/* FOOTER */

footer {
    background-color: black;
    /* debug */
    min-height: 400px;
}

.footer-list {
    color: white;

}

#footer-language {
    color: gray;
}

.footer-list h2 {
    color: white;
    font-size: 1.2rem;
}

.footer-list li {
    margin-top: 10%;
    font-size: 1rem;
}

.footer-list a {
    color: white;
    text-decoration: none;
}

.footer-list span {
    color: gray;
    font-size: 0.9rem;

}
.col-20 {
    width: calc(100% / 5 - 10px * 3);
    margin-top: 80px;
    margin-bottom: 80px;
    /* debug */
    /* min-height: 400px; */
    border: 1px solid black;
    /* background-color: yellow; */
}