* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

img {
    /* max-width: 100%; */
}

ul {
    list-style-type: none;
}

.nav-banner a {
    text-decoration: none;
    color: gray;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
}
/* COMMON */
/* DEBUG */
[class*="col"] {
    border: 1px dashed blue;
}

.container-large {
    width: 70%;
    max-width: 2000px;
    
    margin: 0 auto;
    margin-top: 80px;
    /* debug */
    min-height: 400px;
    border: 1px solid black;
}


.container-medium {
    width: 60%;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 40px;
    /* debug */
    min-height: 400px;
    border: 1px solid black;
}

/* BUTTONS */
.btn {
    /* display: block; */
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
    /* width: 80px; */
    /* border-radius: 10px; */
    color: white;
    background-color: #0061FF;
}

/* UTILITIES */

/* FLEX */
.flex {
    display: flex;
     
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.stretch {
    align-items: stretch;
}

.wrap {
    flex-wrap: wrap;
}

.gap {
    column-gap: 10px;
    justify-content: space-evenly;
}

/* ITEMS */
.item-title {
    width: 100%;
    border: 1px solid black;
}

.item-radio {
    width: 25%;
}



.space-between {
    justify-content: space-between;
}

.relative {
    position: relative;
}


/* PADDING & MARGIN */
.m-t-80 {
    margin-top: 80px;
}

.p-40 {
    padding: 40px;
}

.p-t-150 {
   padding-top: 60px;
}

/* BG-COLORS */
.green {
    background-color: green;
}

.orange {
    background-color: orange;
}
.pink {
    background-color: pink;
}



/* HEADER */

.nav-banner {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 10px;
    
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,.2);
    /* debug */
    /* min-height: 5vh;
    border: 1px solid black; */
}

.nav-items {
    
    padding: 20px 5px;
    /* debug */
    /* width: calc(100% / 3); */
    /* min-height: 100%; */
    /* border: 1px solid black; */
}


.flex li a{
    padding: 10px;
}

.flex li a:hover {
    color: #0061FF;
    /* border-bottom: 1px solid black; */
}

.flex ul {
    justify-content: flex-end;
}

/* MAIN */
.hero {
    width: 100%;
    background-color: #B4D0E7;
    /* debug */
    /* min-height: 420px; */
}

.prova1 {
    position: relative;
    top: 80px;
    left: 0;
}

.hero-text p{
    margin: 20px 0;
}

.hero-image {
   position: relative;
}

.hero-image img{
    width: 100%;
    
 }

.col-100 {
    width: 100%;
    
    /* debug */
    /* height: 100px; */
    /* border: 1px solid black;
    background-color: #EE82EE   ; */
}

.col-100-b {
    width: 100%;
    
    /* debug */
    height: 300px;
    border: 1px solid black;
    background-color: orange  ;
}

.col-30 {
    width: calc(100% / 3 - 10px * 3);
    margin-top: 80px;
    margin-bottom: 80px;
    border: 1px solid gray;

    /* debug */
    /* min-height: 9000px; */
    /* border: 1px solid black;
    background-color: lightgray; */
}

.col-30-small {
    width: calc(100% / 3 - 10px * 3);
    margin-top: 40px;
    margin-bottom: 40px;
    /* debug */
    min-height: 300px;
    /* border: 1px solid black;
    background-color: lightgray; */
}


.col-large {
    width: 60%;
    /* debug */
    min-height: 400px;
    /* border: 1px solid black;
    background-color: blue; */
}

.col-small {
    width: 40%;
    /* debug */
    min-height: 400px;
    /* border: 1px solid black;
    background-color: lightgreen; */
}


/* CARD */
.card {
    display: flex;
    flex-wrap: wrap;

    /* text-align: center; */
    
}

.title {
    font-size: 1.2rem;
    font-weight: 600;
}

.secondary-title {
    font-size: 0.9rem;
    color: gray;
}

.text-center {
    text-align: center;
}

.card-item {
    /* line-height: 50px; */
    padding: 10px;
}

.card-item span{
    line-height: 50px;
    /* debug */
    /* border: 1x solid black; */
}

.card-item ul {
    font-size: 0.9rem;
}

.card-item div {
    margin: 50px 0;
    /* debug */
    border: 1px solid black;
}

.c-title {
    font-size: 1.2;
    font-weight: 600;
}

.checkmark {
    color: #0061FF;
    font-size: 1.2rem;
}

/* LOGO SECTION */
.logo-section {
    width: 100%;
    /* debug */
    min-height: 380px;
    border: 1px solid black;
}

.col-square {
    width: calc(100% / 3);
    /* debug */
    height: 380px;
    border: 1px solid black;
    background-color: aquamarine;
}

.text-square {
    /* debug */
    background-color: beige;
}

/* FOOTER */

footer {
    background-color: black;
    /* debug */
    min-height: 400px;
}

.col-20 {
    width: calc(100% / 5 - 10px * 3);
    margin-top: 80px;
    margin-bottom: 80px;
    /* debug */
    min-height: 400px;
    border: 1px solid black;
    background-color: yellow;
}